@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

.color__background__yellow{
    background-color: #efc600;
}
.color__background__lilac{
    background-color: #201089;
}
.color__text__lilac{
    color: #201089;
}
.color__text__yellow{
    color: #efc600;
}

header{
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin-bottom: 10%;
}

.menu__top{
    height: 15vh;
    display: flex;
    align-items: center;
}

.menu__top ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.menu__top ul li:hover{
    color: #efc600;
    cursor: pointer;
}

#accessibility{
    height: auto;
    background-color: #4b4b4b;
}

#accessibility ul{
    justify-content: center;
}

#accessibility ul li{
    margin: 0px 10px 0px 10px;
}

#accessibility a{
    text-decoration: none;
    color: #ffffff;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}

#accessibility a:hover{
    background-color: #ffffff31;
}

header section{
    padding: 10% 5% 0 5%;
    box-sizing: border-box;
    
}

.image__pcd{
    display: none;
}

header section figure{
    display: flex;
    justify-content: end;
    align-items: center;
}

header section figure img{
    position: absolute;
    height: 60vh;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 6em;
    height: 40vh;   
    z-index: 2;
    position: relative;
}

p, label, span, h2, strong, li{
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

.acommodation__filter p{
    height: 6vh;
    color: #ffffff;
}

input[type="radio"]{
    display:none;
}

input[type="radio"]+label{
    padding: 5px 20px 5px 20px;
    margin-right: 5px;
    color: #ffffff;
    border: 1px solid #0000006b;
    border-radius: 25px;
}

input[type="radio"]:checked+label{
    color: #ffffff;
    background-color: #efc600;
    border: none;
}

.acommodation__filter:last-child{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 80px;
    height: 20vh;
    padding: 10px;
    box-shadow: 0 0 1em #000000;
}

.acommodation__filter div{
    display: flex;
    flex-direction: column;
}

main{
    padding: 1% 5% 4% 5%;
}

main h2{
    font-size: 2em;
    height: 20vh;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 8px;
}

.accommodation__locations__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.accommodation__location{
    margin-bottom: 20px;
}

.accommodation__location > *{
    height: 70vh;
    width: 26vw;
    border-radius: 10px;
}

.accommodation__location__text{
    position: absolute;
    background-color: #0000006b;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.accommodation__location__text div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.accommodation__location__text img{
    height: 25px;
    width: 25px;
}

.accommodation__location__text span{
    font-size: 20px;
    margin-bottom: 10px;
}

.accommodation__location__text strong{
    background-color: #ffffff31;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 20px;
}

button{
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 15px;
}

button:hover{
    cursor: pointer;
}

/* inicio deuteranopia */
#accessibility__deuteranopia:target .color__text__yellow,
#accessibility__tritanopia:target .menu__top ul li:hover{
    color: #e8cf1f;
}
#accessibility__deuteranopia:target .color__background__yellow, 
#accessibility__deuteranopia:target input[type="radio"]:checked+label{
    background-color: #e8cf1f;
}
#accessibility__deuteranopia:target .color__text__lilac{
    color: #002585;
}
#accessibility__deuteranopia:target .color__background__lilac{
    background-color: #002585;
}
/* fim deuteranopia */

/* inicio protanopia */
#accessibility__protanopia:target .color__text__yellow,
#accessibility__tritanopia:target .menu__top ul li:hover{
    color: #ddc300;
}
#accessibility__protanopia:target .color__background__yellow,
#accessibility__protanopia:target input[type="radio"]:checked+label{
    background-color: #ddc300;
}
#accessibility__protanopia:target .color__text__lilac{
    color: #00308a;
}
#accessibility__protanopia:target .color__background__lilac{
    background-color: #00308a;
}
/* fim protanopia */

/* inicio protanopia */
#accessibility__tritanopia:target .color__text__yellow, 
#accessibility__tritanopia:target .menu__top ul li:hover {
    color: #ffb4a9;
}
#accessibility__tritanopia:target .color__background__yellow, 
#accessibility__tritanopia:target input[type="radio"]:checked+label{
    background-color: #ffb4a9;
}
#accessibility__tritanopia:target .color__text__lilac{
    color: #00384f;
}
#accessibility__tritanopia:target .color__background__lilac{
    background-color: #00384f;
}
#accessibility__tritanopia:target .image__pcd{
    display: block;
}
#accessibility__tritanopia:target .image__default{
    display: none;
}
/* fim protanopia */


/* inicio media query */
@media (max-width: 1200px){
    html{
        font-size: 18px;
    }
    .acommodation__filter:last-child div{
        margin-bottom: 10px;
    }

}

@media (max-width: 1000px){
    html{
        font-size: 13px;
    }

    p, label, span{
        font-size: 1em;
    }

    h1{
        height: 20vh;
    }
   
    .accommodation__location > *{
        height: 60vh;
        width: 42vw;    
    }

    header section figure{
        display: none;
    }
}

@media (max-width: 640px){
    html{
        font-size: 12px;
    }

    .acommodation__filter:last-child{
        flex-direction: column;
        height: auto;
    }

    header{
        margin-bottom: 12vh;
    }

    main h2{
        font-size: 2em;
        height: 10vh;
    }

    .accommodation__locations__list{
        flex-direction: column;
    }

    .accommodation__location > *{
        height: 60vh;
        width: 90vw;
    }
}

@media (max-width: 590px){
    html{
        font-size: 6px;
    }

    h1{
        height: 15vh;
    }

    p, label, span, strong{
        font-size: 2.5em;
    }

    .menu__top img{
        width: 130px;
    }

    .menu__top{
        height: 8vh;
    }

    header section {
        padding: 4% 5% 0 5%;
    }

}